@page "/cuentas-ahorro/{Id:int}"

<h3>Cuentas de Ahorro</h3>

<div class="row">
    <div class="col-12">
        <button class="btn btn-info" @onclick="AbrirModal">Registrar Cuenta</button>
    </div>

    <div class="col-12 mt-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Identficador de Cuenta</th>
                    <th>Saldo Actual</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @if (cuentasCliente.Count > 0)
                {
                    foreach (var cc in cuentasCliente)
                    {
                        <tr>
                            <td>@cc.IdCuenta</td>
                            <td>$@cc.Saldo</td>
                            <td>
                                <button class="btn btn-info" @onclick="() => AbrirModalTransaccion(cc.IdCuenta, TipoTransaccion.Deposito, 0)">Depositar</button>
                                <button class="btn btn-danger" @onclick="() => AbrirModalTransaccion(cc.IdCuenta, TipoTransaccion.Retiro, cc.Saldo)">Retirar</button>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@*  Modal Registrar Cuenta  *@
<div class="modal" style="@style">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Cuenta</h5>
                <button @onclick="CerrarModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="saldo">Saldo</label>
                            <input id="saldo" type="number" @bind-value="cuentaAhorro.Saldo" placeholder="$1000" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="() => GuardarCuenta(Id)">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CerrarModal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*  Modal Transaccion  *@
<div class="modal" style="@styleTransacc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(transaccion.TipoTransaccion == TipoTransaccion.Deposito ? "Deposito" : "Retiro")</h5>
                <button @onclick="CerrarModalDeposito" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="deposito">Cantidad</label>
                            <input id="deposito" type="number" @bind-value="transaccion.Monto" placeholder="$1000" class="form-control" />
                        </div>
                        <label class="text-danger text-center">@mensaje</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="() => Transaccion()">Realizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CerrarModalDeposito">Cancelar</button>
            </div>
        </div>
    </div>
</div>                            